# core dependencies
tensorflow==2.19.0

numpy
scipy
Pillow       # for image I/O / resizing (replaces PIL)
matplotlib  # for plotting (used in some notebooks/examples)

# optional, but handy for CLI progress/status
tqdm
